@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  margin: 0px;
  padding : 0px;
  color : darkgrey;
}

.theme-dark .content a{
  text-decoration: none;
  color : brown;
}

.theme-dark .content a:hover
{
  color : #252525;
  text-decoration : underline;
}

.theme-dark .content ul{
  list-style-type: circle;
  color: brown;
}

.theme-dark
{
  font-family: 'Montserrat', sans-serif;
  background-color: lightgrey;
  font-size : 14px;
  line-height: 28px;
  color : #222222;
}

.navbar h1{
  font-family: 'Abril Fatface', cursive;
  color : tan;
  font-size : 3.2em;
}

.theme-dark .content
{
  display : block;
  background-color : #ffffff;
  width: 90%;
  max-width: 1024px;
  margin-right : auto;
  margin-left : auto;
  border-style : solid;
  border-width : 7px 0px 0px 0px;
  border-color : tan;
  padding : 10px;
}

 .theme-dark .content h1 {
   background-color : #ffffff;
   padding-left : 15px;
   padding-bottom : 0px;
   margin-bottom: 0px;
   margin-top : 0px;
   color: tan;
   font-family: 'Abril Fatface', cursive;
   font-size : 2.8em;
   margin-top : 15px;
   border-style : solid;
   border-width : 0px 0px 1px 0px;
   border-color : tan;
   
}

 .theme-dark .content h2 {
   background-color : #ffffff;
   padding-left : 30px;
   color: tan;
   font-family: 'Abril Fatface', cursive;
   font-size : 2.4em;
}

 .theme-dark .content h3 {
   background-color : #ffffff;
   padding-left : 45px;
   color: tan;
   font-family: 'Abril Fatface', cursive;
   font-size : 2em;
}

 .theme-dark .content h4 {
   background-color : #ffffff;
   padding-left : 45px;
   color: tan;
   font-family: 'Abril Fatface', cursive;
   font-size : 1.6em;
}

 .theme-dark .content h5 {
   background-color : #ffffff;
   padding-left : 45px;
   color: tan;
   font-family: 'Abril Fatface', cursive;
   font-size : 1.2em;
}

 .theme-dark .content h6 {
   background-color : #ffffff;
   padding-left : 45px;
   color: tan;
   font-family: 'Abril Fatface', cursive;
   font-size : 1em;
}

  .navbar
  {
    background-color : #ffffff;
    box-shadow: 10px 0px 5px #252525;
    position: fixed;
  }
.theme-dark .content img[alt=Banner]
{
  display : block;
  width : 100%;
  height : auto;
  max-height : 600px;
  overflow : hidden;
  border-style: solid;
  border-width : 0px;
  margin-right : 10px;
}

.filetree-sidebar, .toc
{
  background-color : lightgrey;
  color : brown;
}

.filetree-sidebar a, .toc a
{
  color : brown;
}

.filetree-sidebar .filelist .active-note 
{
  background-color : #ffffff;
  color : brown;
}

.filetree-sidebar .filelist .active-note a
{
  color : brown;
}

.toc ul li
{
  color : tan;
}

.toc
{
  border-width : 0px;
}
